ZSH_AUTOSUGGEST_STRATEGY=(completion history match_prev_cmd)

## PATH STUFF ##
export PATH=$HOME/.emacs.d/bin:$PATH
export PATH=$HOME/.elixir-ls/rel:$PATH
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"

## ANTIGEN ##
source $HOME/antigen.zsh

antigen use oh-my-zsh

antigen bundles <<EOBUNDLES
git
asdf
1password
z
gh
mix
node
npm
zsh-users/zsh-syntax-highlighting
zsh-users/zsh-autosuggestions
zsh-users/zsh-completions
EOBUNDLES

# antigen theme robbyrussell
antigen apply
##########################

{{- if eq .chezmoi.hostname "J2XD2L9W39" }}

### NR Stuff
export HOMEBREW_ARTIFACTORY_TOKEN={{ onepasswordRead "op://private/nr artifactory token/credential" }}
export FALCON_CUSTOMER_ID={{ onepasswordRead "op://private/crowd strike customer id/credential" }}

eval 
NR1_AC_ZSH_SETUP_PATH=/Users/aanguiano/Library/Caches/newrelic-cli/autocomplete/zsh_setup && test -f $NR1_AC_ZSH_SETUP_PATH && source $NR1_AC_ZSH_SETUP_PATH; # nr1 autocomplete setup

#export KERL_CONFIGURE_OPTIONS="
#      --disable-debug \
#      --disable-silent-rules \
#      --disable-hipe \
#      --enable-shared-zlib \
#      --enable-wx \
#      --with-wx-config=$(brew --prefix)/bin/wx-config-3.0 \
#      --with-ssl=$(brew --prefix openssl@1.1) \
#      --without-javac \
#      --without-jinterface \
#      --without-odbc \
#      --enable-darwin-64bit \
#      --with-dynamic-trace=dtrace \
#     "
export KERL_CONFIGURE_OPTIONS="
      --enable-shared-zlib \
      --enable-wx \
      --without-javac \
      --without-jinterface \
      --without-odbc \
      --enable-darwin-64bit \
      --with-dynamic-trace=dtrace \
     "

export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_file_bytes 1024000"

function vault_login() {
  PROD_PASS=$(security find-generic-password -a $USER -s chi-vpn-password -w)

  newrelic-vault us login -method=okta username=$USER password=$PROD_PASS totp=$1
}
#########################

{{- end }}

### Aliases
alias vim=nvim

# List files -- Show file list with fzf and preview with bat
alias lf="fzf --preview='bat {} --color=always'"

# Tail into bat
alias bail="tail -f $1 | bat --paging=never -l log"

# git diff into bat
biff() {
    git diff --name-only --relative --diff-filter =d | xargs bat --diff
}

# Fancy help from bat
# alias bathelp="$($1 --help) | bat --plain --language=help"

alias dc="docker-compose $@"
alias imps="iex -S mix phx.server $@"

alias python=python3
##########################

bindkey '^ ' autosuggest-accept # ctrl+space to accept autosuggestions
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=4"

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME=""

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in $ZSH/themes/
# If set to an empty array, this variable will have no effect.
# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment one of the following lines to change the auto-update behavior
# zstyle ':omz:update' mode disabled  # disable automatic updates
# zstyle ':omz:update' mode auto      # update automatically without asking
# zstyle ':omz:update' mode reminder  # just remind me to update when it's time

# Uncomment the following line to change how often to auto-update (in days).
# zstyle ':omz:update' frequency 13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
#plugins=(git)

source $ZSH/oh-my-zsh.sh

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

unalias gcb
autoload -U promptinit; promptinit
prompt pure

alias zj=zellij
alias ghpr="gh pr view --web"

source /Users/aanguiano/.config/op/plugins.sh
